body {
  background-color: #050810;
}

.boot-title{
  font-family: 'Courier New', monospace;
  color: #c7ceea;
  font-size: 60px;
  text-align: center;
  margin-top: 10px;
}
.boot-container{
  margin-top: 50px;
  text-align: left;
  background-color: #14182c;
}
.boot-header{
  font-family: 'Courier New', monospace;
  color: #a8e6cf;
  font-size: 40px;
}

.line {
  opacity: 0;
  margin: 4px 0;
  font-family: 'Courier New', monospace;
  font-size: 20px;
  color: #a8e6cf;
  transition: opacity 0.2s ease-in;
}

.line.visible {
  opacity: 1;
}

.hint {
  opacity: 0.5;
  transition: opacity 0.2s ease-in;
  color:#6b7280
}
.boot-loader{
  margin-top: 10px;
  text-align: right;
  font-family: 'Courier New', monospace;
  color: #ff6b9d;
  font-size: 40px;
}